html,body {
    padding: 0px;
    margin: 0px;
    width:100%;
    height: 100%;
}
/*Navigation [header] Start*/
header {
    padding: 0px;
    margin: 00px;
    width: 100%;
    height: 60px;
    display: table;
    background-color: #222;
    position: fixed;
    z-index: 99999999;
}
header .logo{
    padding:4px;
    margin: 2px;
    float: left;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    border:1px solid orange;
    background-color: #ccc;
}
header nav{
    float: right;
}
header nav {
    display: table;
    width: 100%;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
header nav li {
    padding: 0px;
    margin: 0px;
    display: inline;
    margin-right: 2px;
}
header nav li a{
    padding: 10px 10px;
    text-transform: uppercase;
    color:#ccc;
    transition:0.6s all ease-in-out;
}
header nav li a:hover{
    text-decoration: none;
    background-color: #EB5E46;
    color: #ccc;
    cursor: pointer;
}
.menu {
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 50px;
    background-color: #222;
    border:1px solid #444;
    display: none;
    float: right;
    margin-left: calc(100%-50px);
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
    position: fixed;
    z-index: 999999999;
}
.menu span{
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #ccc;
    margin-left: 4px;
    transition: 0.6s all ease-in-out;
}
.menu span:nth-child(1){
    margin-top: 10.6px;
}
.menu span:nth-child(2){
    margin-top: 24px;    
}
.menu span:nth-child(3){
    margin-top: 36px;    
}
/*active state*/
.menu.active span:nth-child(1){
    margin-top: 24px;
    transform: rotateZ(45deg);
}
.menu.active span:nth-child(2){
    margin-top: 24px;
    transform:translateX(360px);    
}
.menu.active span:nth-child(3){
    margin-top: 24px;
    transform: rotateZ(-45deg);    
}
/*Navigation [header] end*/

.banner{
    padding:0px;
    margin: 0px;
    width:100%;
    height: 100%;
    display: table;
    color: #ccc;
    background:url('./img/banner-bg.jpg') center no-repeat;
    background-size: cover;
}
.banner_inner{
    padding: 0px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(250,250,250,0.5);
}
#intro{
    padding:60px 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    display: table;
    columns: 12;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: justify;
    font-family: Helvetica;
}
#intro .col-md-4{
    padding: 0px;
    margin: 0px;
    height: 300px;
}

.services {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    display: table;
}
.services li{
    list-style-type: none;
    padding: 10px;
    width: 100%;
    display: flex;
    font-family: Helvetica;
    color:#fff;
    border-bottom: 1px solid orange;
    letter-spacing: 2px;
}
.services li i {
    padding: 5px;
    margin-right: 5px;
}

.paralax{
    padding: 60px 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: table;
    background-color: #111;
    color: #ccc;
}
#Menu{
    padding: 60px 0px;
    width: 100%;
    height: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    background-color: #222;
    color: #fff;
}
#Menu .menu_top{
    padding: 0px;
    margin:0px;
    width: 100%;
    height: auto;
}
#Menu .container {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
#Menu .menu_top{
    padding-top: 0px;
    display: table;
    width: 100%;
}
#Menu .menu_top ul{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    display: table;
    text-align: center;
}
#Menu .menu_top ul li {
    padding: 0px;
    list-style-type: none;
    display: inline;
}
#Menu .menu_top ul li a{
    padding: 10px 20px;
    margin: 0px 2px;
    width: auto;
    list-style-type: none;
    display: inline-flex;
    border:1px solid #ccc;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #C0B2B5;
    color: #222;
    transition: 0.6s all ease-in-out;
}
#Menu .menu_top ul li a:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: #EB5E46;
    color: #ccc;
    border-color: orange;
}
#Menu li img {
    padding: 3px;
    margin: 0px;
    margin-right: 5px;
    border-radius: 50%;
    border:1px solid orange;
}
#Menu .menu_top ul li:nth-child(3),
#Menu .menu_top ul li:nth-child(4){
    text-indent: 5px;
}
/*menu list iems*/
/*Left Side Start*/

/*Left Side end*/

.Serve {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 400px;
    display: table;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right
}
.Serve .carousel-inner{
    width: 100%;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
}
.Serve .carousel-inner .carousel-item{
    width: 100%;
    height: 100%;
    text-align:center; 
    background: transparent;
}

#Sub_type{
    padding: 0px;
    margin: 0px;
    height: 220px;
    width: 30.3333333%;
    display: table;
    border-radius: 10px;
    border:1px solid orange;
}
#Sub_type_header{
    padding: 20px 0px;
    text-align: center;
    text-transform: uppercase;
}
#Sub_type .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
#Sub_type{
    background:url("./img/res02.jpg");
    background-size: cover;
}
#Sub_type:nth-child(2){
    background:url("./img/img8.jpg");
    background-size: cover;
}
#Sub_type:nth-child(3){
    background:url("./img/img15.jpg");
    background-size: cover;
}

#Sub_type span {
    padding: 10px 20px;
    border:2px solid orange;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.6s all ease-in-out;
}
#Sub_type span:hover {
    cursor: pointer;
    background-color: #EB5E46;
    color: #222;
}

/**Menu Start*/
#Menu_list{
    width: 100%;
    height: auto;
    display: table;
}
#Menu_list ul{
    padding:0px;
    margin: 0;
    display: table;
}
#Menu_list li{
    padding: 20px 10px;
    width: 50%;
    height: auto;
    display: inline-flex;
}
#Menu_list li hr{
    margin-top:20px;
    width: 100%;
    float: left;
    background-color: #ccc;
}
#Menu_list li img {
    width: 100px;
    height: 100px;
    float: left;
}
#Menu_list li span{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: orange;
    border:1px solid orange;
}
#Menu_list #dinner {
    width: 100%;
    height: auto;
    display: table;
    transition: 0.6s all ease-in-out;
}
#Menu_list #breakfast {
    width: 100%;
    height: auto;
    display: table;
    transition: 0.9s all ease-in-out;
}
#Menu_list #lunch {
    width: 100%;
    height: auto;
    display: table;
    transition: 0.6s all ease-in-out;
}
#Menu_list #dinner.active{
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(100%);
    height: 0px;
    position: absolute;
}
#Menu_list #breakfast.active{
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(100%);
    height: 0px;
    position: absolute;
}
#Menu_list #lunch.active{
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(100%);
    height: 0px;
    position: absolute;
}
/**Menu END*/


#event .carousel .carousel-item {
    text-align: center;
}


#contact {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: 100%;
    display: table;
}
#contact .container {
    padding: 0px;
    margin:0px;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#contact .contact_Details {
    padding: 0px;
    width: 100%;
    height: 100%;
    display: table;
}
#contact .contact_Details ul{
    padding:0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    list-style-type: none;
}
#contact .contact_Details ul li{
    padding: 20px;
    text-align: left;
    font-family:Helvetica;
    font-size: 20px;
}
#contact .contact_Details ul li i{
    float: left;
    padding: 5px;
    margin: 1px;
    margin-right: 5px;
    border-radius: 50%;
    border:1px solid orange;
}
#contact form {
    width: 100%;
    height: 100%;
    display: table;
}
#contact form .inputs{
    padding: 0px;
    float: left;
    width: 49%;
    display: table;
}
#contact form .inputs input{
    padding: 25px;
    margin: 20px 2px;
    border:none;
    border-bottom: 1px solid orange;
    color:#111;
}
#contact form textarea{
    padding: 10px;
    float: right;
    width: 50%;
    height: 250px;
    text-align: left;
    border:none;
    border: 1px solid orange;
    resize: none;
}
#contact form .send {
    margin-top: 25px;
    width: 150px;
    height: 50px;
    border:none;
    border-radius: 0px;
    background-color: #CB0000;
    font-size: 20px;
    color:#ccc;
    font-weight: bold;
    transition: 0.8s all ease-in-out;
}
#contact form .send:hover {
    color:#ccc;
    background-color: #232AC1;
    cursor: pointer;
    border-radius: 5px;
}

footer{
    padding: 60px 0px 10px 10px;
    width:100%;
    height: 300px;
    background-color: #111;
    display: table;
    color:#ccc;
}
footer img {
    padding: 2px;
    border:1px solid orange;
    border-radius: 50%;
    background-color: rgba(250,250,250,0.9);
}
footer .container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
footer .widget-title {
    text-align: center;
    width: 100%;
    height: auto;
    display: table;
}
.social-list{
    padding: 0px;
    margin: 0px;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
    color: white;
}
footer .social-list ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: inline-flex;
}
footer .social-list li a{
    padding: 15px;
    margin:2px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid orange;
    color:orange;
}
footer .social-list li a:hover{
    cursor: pointer;
    background-color: ;
    color:#ccc;
    text-decoration: none;
}
footer address{
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.copyright{
    color:#ccc;
}

/*The followng applies to the header and menu object*/
@media screen and (max-width: 530px){
    .menu{
        display: table;
    }
    header nav {
        width: 100%;
        position: absolute;
        display: table;
    }
    header nav {
        margin-top: 60px;
        padding-bottom: 50px;
        border-top:1px solid orange;
        transform: rotateY(90deg) translateY(-100%);
        transition: 0.6s all ease-in-out;
    }
    header.active nav {
        transform: rotateY(0) translateY(0); 
        background-color: #222;  
        color: #ccc;
    }
    header nav li{
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: auto;
        display: block;
        letter-spacing: 3px;
    }
    header nav li a{
        padding: 10px 20px;
        width: 100%;
        height: auto;
        border-bottom: 1px solid orange;
    }
}
/*768 px width responsiveness*/
@media screen and (max-width: 768px){
    #Menu_list {
        padding: 10px 5px 10px 5px;
        margin: 0px;
        width: 100%;
        height: auto;
    }
    #Menu_list li{
        padding: 7px; 
        width: 100%;
        display: inline-flex;
        text-align: center;
        border:1px solid orange;
        margin: 0px 2px 4px 0px;
        float: left;
    }
    #Menu_list li p{
        width: 100%;
        height: auto;
        display: table;
        padding: 2px;
        font-size: 15px;
    }
    #Menu_list li span{
        background-color:rgba(12,54,102,0.2);
        color:#ccc;
    }
    #Menu_list li img {
        width: 100px;
        height: 100px;
        float: left;
        display: table;
        margin-right: auto;
        margin-left: auto;
    }
    /**Menu END*/
    /*Contact form Start */

    /*Control button Start*/

    #Menu .menu_top ul li {
        padding: 0px;
        width: 50%;
        list-style-type: none;
        display: inline-flex;
        margin-bottom: 5px;
    }
    #Menu .menu_top ul li a{
        padding: 10px 20px;
        margin: 0px 2px;
        width: 100%;
        list-style-type: none;
        display: inline-block;
        border:1px solid #ccc;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: #C0B2B5;
        color: #222;
        transition: 0.6s all ease-in-out;
    }
    #Sub_type{
        padding: 0px;
        margin: 0px;
        height: 150px;
        width: 100%;
        display: table;
        border-radius: 10px;
        margin-top: 5px;
        border:none;
        border-radius: 0px;
        border-bottom:1px solid orange;
    }
    /*Control button END*/

    #contact .contact_Details ul li{
        padding: 10px;
        text-align: left;
        font-family:Helvetica;
        font-size: 17px;
    }
    #contact form .inputs{
        padding: 0px;
        float: left;
        width: 100%;
        height: auto;
        display: table;
    }
    #contact form .inputs input{
        padding: 15px 20px;
        margin: 15px 2px;
        border:none;
        border: 1px solid orange;
        color:#111;
    }
    #contact form textarea{
        padding: 10px;
        float: right;
        width: 100%;
        height: 150px;
        text-align: left;
        border:none;
        border: 1px solid orange;
        resize: none;
    }
    /*Contact form END */
}


/*The message responce Window*/
.message {
    width: 100%;
    height: 100%;
    display:table;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    z-index: 999999999999;
    transition: 0.6s all ease-in-out;
    transform: rotateX(90deg);
}
.message.active{
    transform: rotateX(0);
}
.message_inner{
    display: table-cell;
    vertical-align: middle;
}
.message .inside{
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    border:1px solid orange;
    border-radius: 50%;
    display: table;
}
.message .inside div {
    padding-top: 40px;
    width: 250px;
    height: 250px;
    margin-right: auto;margin-left: auto;
    text-align: center;
    margin-top: 25px;
    border:2px solid #fff;
    border-radius: 50%;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
